@import "../utils/vars-fonts";

.main-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 46px;
  align-items: center;

  &__format {
    font-size: FontsSize("xs");
    font-weight: FontsWeight("small");
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--standard-black);
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--agency-active {
      color: $StandardBlue;
      position: relative;
    }

    &--agency-active::after {
      display: block;
      content: "";
      width: 55px;
      height: 4px;
      background: $StandardBlue;
      border-radius: 2px;
      position: absolute;
      top: 45px;
    }

    &--portfolio-active {
      color: $StandardBlue;
      position: relative;
    }

    &--portfolio-active::after {
      @extend .nav__format--agency-active::after;
    }
  }
}

.adress {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 0 25px;
  margin-top: 50px;

  &__format {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $LightGrey;
    display: flex;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
